.joinWrapper {
  margin: auto;
  width: 40%;

}

.formWrapper {
  display: block;
  background-color: rgb(33,33,33);
  padding: 20px;
  max-width:500px;
  width:50%;
  margin-left:auto;
  margin-right:auto;
  margin-top:25%;
  border: 2px rgb(56, 56, 56);
}

label {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #303030;
  box-sizing: border-box;
  color: white;
  background: rgb(18,18,18);
}

input[type=submit] {
  width: 100%;
  background-color: rgb(49,48,48);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #888888;
}