.WebCamChatContainer {
  position: absolute;
  display: block;
  height: min-content;
  width: min-content;
  width: 100%;
  min-width: 250px;
  height: min-content;
}

.webcamwrapper {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.video {
  align-self: auto;
  width: 40%;
  margin: 2px;
}


