.chatContainer {
  position: absolute;
  flex:auto;
  display: flex;
  max-height: 400px;
  min-height: 400px;
  width: 100%;
  min-width: 375px;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;

}
.messagesContainer {
  flex: auto;
  background: rgba(19, 46, 84, 0.292);
  width: auto;
  overflow-y: auto;
  transform: rotate(180deg);
  direction:rtl;
  text-align:left;
  border: .5px solid #767676
}

.messagesContainer > div {
  font-weight: bold;
  font-size: 12px;
  color:black;
  transform: rotate(180deg);
  width: 99%;
  word-wrap: break-word;
  position: relative;
  display: inline-block;
}

.messageForm {
  position: relative;
  display: grid;
  grid-template-columns: 80% 20%;
  align-items:auto;
  padding:0;
  margin: 0;

}
input.messageFormText {

  border-left: .5px solid #767676;
  border-bottom: .5px solid #767676;
  background-color:  rgba(19, 46, 84, 0.292);
  min-height: 40px;
  box-sizing:border-box;
  padding:0;
  margin: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  outline: none;
}
.messageForm input[type="submit"] {
  border-bottom: .5px solid #767676;
  border-left: .5px solid #767676;
  border-right: .5px solid #767676;
  box-sizing: border-box;
  height: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 12px;
  padding:0;
  margin: 0;
}



