.WebCamChatContainer {
  position: absolute;
  display: block;
  height: min-content;
  width: min-content;
  width: 100%;
  min-width: 375px;
  height: min-content;
}

.webcamwrapper {
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.video {
  align-self: auto;
  width: 48%;
  margin: 2px;
}

.startVideoBtn {
  width: 100%;
  height: 20px;
  align-items:center;
  margin: 5px;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  color:black;
  background-color: rgb(94, 15, 15);
  border: none;
  text-align: center;
  border-radius: 2px;

}

.startVideoBtn:hover {
  background-color: rgb(93, 92, 92);
}
